<div class="relative lg:h-lvh">
  <button
    (click)="toggleChat()"
    class="fixed bottom-4 right-4 bg-blue-500 text-white px-4 py-2 rounded-full shadow-lg"
    [ngClass]="{ 'hidden': isChatOpen() }"
  >
    Chat
  </button>

  <div
    class="fixed lg:relative bottom-0 right-0 w-svw h-full md:w-96 sm:h-full bg-white border-l shadow-lg flex flex-col transition-transform transform lg:translate-x-0"
    [ngClass]="{
      'translate-x-0': isChatOpen(),
      'translate-x-full': !isChatOpen()
    }"
  >
    <div class="p-4 border-b flex justify-between items-center">
      <h2 class="text-lg font-semibold text-gray-800" >Chat</h2>
      <button (click)="toggleChat()" class="lg:hidden p-1 bg-red-500 text-white rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flex-1 overflow-y-auto p-4 space-y-4">
      @for (data of conversation(); track data.timestamp) {
      <div
        class="flex flex-col"
        [ngClass]="{ 'items-end': data.user.connectionId === connectionId }"
      >
        <div
          class="max-w-[80%] rounded-lg px-3 py-2"
          [ngClass]="{
            'bg-blue-500 text-white': data.user.connectionId === connectionId,
            'bg-gray-200': data.user.connectionId !== connectionId
          }"
        >
          @if (data.user.connectionId !== connectionId) {
          <p class="text-xs font-medium">
            {{ data.user.username }}
          </p>
          }
          <p>{{ data.message }}</p>
        </div>
        <span class="text-xs text-gray-500 mt-1">
          {{ data.timestamp | date : "shortTime" }}
        </span>
      </div>
      }
    </div>
    <form (ngSubmit)="sendMessage($event)" class="p-4 border-t">
      <div class="flex space-x-2">
        <input
          type="text"
          name="message"
          class="flex-1 px-3 py-2 text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500"
          placeholder="Type a message..."
          autocomplete="off"
        />
        <button
          type="submit"
          class="px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
