<section
  class="flex gap-4 flex-wrap justify-center items-center w-full h-full relative"
  [ngClass]="{
  'grid-cols-1': remoteStreamsConnections().length <= 1,
  'grid-cols-2': remoteStreamsConnections().length <= 4 && remoteStreamsConnections().length > 1,
  'grid-cols-3': remoteStreamsConnections().length <= 9 && remoteStreamsConnections().length > 4,
  'grid-cols-4': remoteStreamsConnections().length > 9,
}"
>
  @if (localStream()) {
  <video
    [srcObject]="localStream()"
    autoplay
    playsinline
    [muted]="true"
    class="absolute right-0 bottom-0 w-50 h-50 object-cover rounded-lg"
  ></video>
  } @for (connection of remoteStreamsConnections(); track
  connection.connectionId) {
    <video
      [srcObject]="connection.stream"
      autoplay
      playsinline
      [muted]="false"
      class="w-120 h-100 object-cover rounded-lg"
    ></video>
  }
</section>
